<!DOCTYPE html>
<html>
<head>
	<title>Pinguin : Forum</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div id="forum" class="row">
		<div class="col-md-4">
			<!-- begin #forum-content -->
			<div id="forum-content">
				<h3>Forum</h3>
				<ul class="forum-list">
					<li class="network">
						<a href="#">Network</a>
						<ul class="network-list">
							<li><a href="http://balapa.com">#1 Networks</a></li>
							<li><a href="">#2 Networks</a></li>
							<li><a href="">#3 Networks</a></li>
							<li><a href="">#4 Networks</a></li>
							<li><a href="">#5 Networks</a></li>
						</ul>
					</li>
					<li class="os">
						<a href="#">Operating System</a>
						<ul class="os-list">
							<li><a href="">#1 OS</a></li>
							<li><a href="">#2 OS</a></li>
							<li><a href="">#3 OS</a></li>
						</ul>
					</li>
					<li class="web">
						<a href="#">Website Development</a>
						<ul class="web-list">
							<li><a href="">#1 Web</a></li>
							<li><a href="">#2 Web</a></li>
							<li><a href="">#3 Web</a></li>
						</ul>
					</li>
				</ul>
			</div>

			<!-- begin #top-user -->
			<div id="top-user">
				<h3>Top User</h3>
				<ul class="user-list">
					<li>
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/c27.0.160.160/p160x160/10176250_853053984705960_377003046644818217_n.jpg?oh=54174dbaf8677815afdf795ef972e1ee&oe=551F3416&__gda__=1426200574_af2fa3407e346d8545f94f476e4b6b4a">
						<a href="#">Ngens</a>
					</li>
					<li>
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/c12.0.160.160/p160x160/10520764_10202574242151037_2459714898310431127_n.jpg?oh=2f355596ac457b511229606b6384ab2b&oe=55191DFD&__gda__=1427108312_6691d759d5ad3a2eaa66bddbf354c0a7">
						<a href="#">Bekantan</a>
					</li>
					<li>
						<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/v/t1.0-1/p160x160/1609620_998149866866340_8278886039212596977_n.jpg?oh=9e8e8707be45cc4dca7f7dae0e193e79&oe=551275ED&__gda__=1427560811_5eb7fa7921a4d7fcd2c908bc61e65280">
						<a href="#">Jon</a>
					</li>
				</ul>
			</div>
		</div>

		<!-- begin #hot-threads -->
		<div class="col-md-8">
			<div id="hot-threads">
				<h3>Hot Threads</h3>
				<ul class="threads-list">
					<li><a href="thread.html">#1 Melihat lebih dekat kehidupan bekantan di CNC</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
					<li><a href="">#1 lalala</a></li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>